<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Договор</title>
    <div th:insert="~{fragments/navbar :: head}"></div>
</head>
<body class="app">

<div th:insert="~{fragments/navbar :: navbar}"> </div>

<div class="app-wrapper">

    <div class="card mb-4">
        <form action="/admin/contract" th:object="${contract}" method="POST">
        <table class="table app-table-hover text-center">
            <thead>
            <tr>
                <th>Id Помещения</th>
                <th>Id Юзера</th>
                <th>Скидка</th>
                <th>Начало</th>
                <th>Конец</th>
                <th>Активный</th>
            </tr>
            </thead>
            <tbody>
            <td><input th:field="*{premise.id}" type="number" class="form-control" placeholder="ID Помещения" required="required"></td>
            <td><input th:field="*{user.id}" type="number" class="form-control" placeholder="ID Юзера" required="required"></td>
            <td><input th:field="*{discount}" type="number" class="form-control" placeholder="Скидка" required="required"></td>
            <td><input th:field="*{startDate}" type="date" class="form-control" placeholder="Начало" required="required"></td>
            <td><input th:field="*{endDate}" type="date" class="form-control" placeholder="Конец" required="required"></td>
            <td>
                <select th:field="*{isActive}" class="form-select">
                    <option value="1">Да</option>
                    <option value="0">Нет</option>
                </select>
            </td>
            </tbody>
        </table>
        <button class="btn app-btn-primary w-100 theme-btn mx-auto" type="submit">Добавить</button>
        </form>

        <div class="alert alert-danger mt-3 text-center" th:if="${message}" th:utext="${message}">
            Не удалось добавить
        </div>

        <div class="alert alert-success mt-3 text-center" th:if="${smessage}" th:utext="${smessage}">
            Удалось добавить
        </div>

        <div th:if="${edit}">
        <form action="/admin/contract" th:object="${edit}" th:method="PATCH">
            <input type="hidden" th:field="*{id}" th:value="${edit.id}">
            <table class="table app-table-hover text-center">
                <thead>
                <tr>
                    <th>Id Помещения</th>
                    <th>Id Юзера</th>
                    <th>Скидка</th>
                    <th>Начало</th>
                    <th>Конец</th>
                    <th>Активный</th>
                </tr>
                </thead>
                <tbody>
                <td><input th:field="*{premise.id}" type="number" class="form-control" placeholder="ID Помещения" required="required"></td>
                <td><input th:field="*{user.id}" type="number" class="form-control" placeholder="ID Юзера" required="required"></td>
                <td><input th:field="*{discount}" type="number" class="form-control" placeholder="Скидка" required="required"></td>
                <td><input th:field="*{startDate}" type="date" class="form-control" placeholder="Начало" required="required"></td>
                <td><input th:field="*{endDate}" type="date" class="form-control" placeholder="Конец" required="required"></td>
                <td>
                    <select th:field="*{isActive}" class="form-select">
                        <option value="1">Да</option>
                        <option value="0">Нет</option>
                    </select>
                </td>
                </tbody>
            </table>
            <button class="btn btn-secondary w-100 theme-btn mx-auto" type="submit">Изменить</button>
        </form>
        </div>

        <table  id="datatablesSimple" class="table app-table-hover text-center">
            <thead>
            <tr>
                <th>Номер Договора</th>
                <th>Id Помещения</th>
                <th>Id Юзера</th>
                <th>Скидка</th>
                <th>Начало</th>
                <th>Конец</th>
                <th>Активный</th>
                <th>Действия</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${contracts}">
                <td th:text="${item.id}">1</td>
                <td th:text="${item.premise.id}">1</td>
                <td th:text="${item.user.id}">1</td>
                <td th:text="${item.discount}">У дверей</td>
                <td th:text="${item.startDate}">1</td>
                <td th:text="${item.endDate}">1</td>
                <td th:text="${item.isActive} ? 'Да' : 'Нет'"></td>
                <td class="d-flex justify-content-center">
                    <form th:action="'/admin/contract/' + ${item.id}" th:method="GET"><button type="submit" class="btn">✎</button></form>
                    <form th:action="'/admin/contract/' + ${item.id}" th:method="DELETE"><button type="submit" class="btn">🗑</button></form>
                </td>
            </tr>
            </tbody>
        </table>

    </div>

</div>

<div th:insert="~{fragments/navbar :: footer}"></div>

</body>
</html>