<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Помещения</title>
    <meta charset="UTF-8">
    <script defer th:src="@{/assets/plugins/fontawesome/js/all.min.js}"></script>
    <link id="theme-style" rel="stylesheet" th:href="@{/assets/css/portal.css}">
</head>
<body class="app">

<div th:insert="~{fragments/navbar :: navbar}"> </div>


<div class="app-wrapper">

    <div class="card mb-4">

        <form action="/admin/premise" th:object="${premise}" method="POST">
            <table class="table app-table-hover text-center">
                <thead>
                <tr>
                    <th>Состояние Сдачи</th>
                    <th>Стоимость</th>
                    <th>Площадь</th>
                    <th>Зона</th>
                    <th>Интернет</th>
                    <th>Описание</th>
                </tr>
                </thead>
                <tbody>
                <td>
                    <select th:field="*{isOccupied}" class="form-select">
                        <option value="1">Сдано</option>
                        <option value="0">Не сдано</option>
                    </select>
                </td>
                <td><input th:field="*{price}" class="form-control" placeholder="Цена" required="required"></td>
                <td><input th:field="*{area}" class="form-control" placeholder="Площадь" required="required"></td>
                <td>
                    <select th:field="*{zone}" class="form-select">
                        <option value="1">Фудкорд</option>
                        <option value="2">Склад</option>
                        <option value="3">Остров</option>
                    </select>
                </td>
                <td>
                    <select th:field="*{internetPresent}" class="form-select">
                        <option value="1">Есть</option>
                        <option value="0">Отсутствует</option>
                    </select>
                </td>
                <td>
                    <textarea placeholder="Описание" class="form-control" rows="3" th:field="*{description}"></textarea>
                </td>
                </tbody>
            </table>
            <button class="btn app-btn-primary w-100 theme-btn mx-auto" type="submit">Добавить</button>
        </form>

        <div class="alert alert-danger mt-3 text-center" th:if="${message}" th:utext="${message}">
            Не удалось добавить
        </div>

        <div class="alert alert-success mt-3 text-center" th:if="${smessage}" th:utext="${smessage}">
            Удалось добавить
        </div>

        <div th:if="${edit}">
            <form action="/admin/premise" th:object="${edit}" th:method="PATCH">
                <input type="hidden" th:field="*{id}" th:value="${edit.id}">
                <table class="table app-table-hover text-center">
                    <thead>
                    <tr>
                        <th>Состояние Сдачи</th>
                        <th>Стоимость</th>
                        <th>Площадь</th>
                        <th>Зона</th>
                        <th>Интернет</th>
                        <th>Описание</th>
                    </tr>
                    </thead>
                    <tbody>
                    <td>
                        <select th:field="*{isOccupied}" class="form-select">
                            <option value="1">Сдано</option>
                            <option value="0">Не сдано</option>
                        </select>
                    </td>
                    <td><input th:field="*{price}" class="form-control" placeholder="Цена" required="required"></td>
                    <td><input th:field="*{area}" class="form-control" placeholder="Площадь" required="required"></td>
                    <td>
                        <select th:field="*{zone}" class="form-select">
                            <option value="1">Фудкорд</option>
                            <option value="2">Склад</option>
                            <option value="3">Остров</option>
                        </select>
                    </td>
                    <td>
                        <select th:field="*{internetPresent}" class="form-select">
                            <option value="1">Есть</option>
                            <option value="0">Отсутствует</option>
                        </select>
                    </td>
                    <td>
                        <textarea placeholder="Опишите свои пожелания" class="form-control" rows="3" th:field="*{description}"></textarea>
                    </td>
                    </tbody>
                </table>
                <button class="btn btn-secondary w-100 theme-btn mx-auto" type="submit">Изменить</button>
            </form>
        </div>

        <table class="table app-table-hover text-center">
            <thead>
            <tr>
                <th>Id</th>
                <th>Состояние Сдачи</th>
                <th>Стоимость</th>
                <th>Площадь</th>
                <th>Зона</th>
                <th>Интернет</th>
                <th>Описание</th>
                <th>Действия</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${premises}">
                <td th:text="${item.id}">1</td>
                <td th:text="${item.isOccupied} ? 'Сдано' : 'Не сдано'">Свободно</td>
                <td th:text="${item.price}">5000</td>
                <td th:text="${item.area}">250</td>
                <td th:text="${item.zone}">Фудкорд</td>
                <td th:text="${item.internetPresent} ? 'Есть' : 'Отсутствует'">есть</td>
                <td th:text="${item.description}">Фудкорд</td>
                <td class="d-flex justify-content-center">
                    <form th:action="'/admin/premise/' + ${item.id}" th:method="GET"><button type="submit" class="btn">✎</button></form>
                    <form th:action="'/admin/premise/' + ${item.id}" th:method="DELETE"><button type="submit" class="btn">🗑</button></form>
                </td>
            </tr>
            </tbody>
        </table>

    </div>

</div>

</body>
</html>