<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Фильтр</title>
  <div th:insert="~{fragments/navbar :: head}"></div>
</head>
<body class="app">

<div th:insert="~{fragments/navbar :: navbar}"> </div>

<div class="app-wrapper">

  <div class="app-content pt-3 p-md-3 p-lg-4">
    <div class="container-xl">

      <h1 class="app-page-title">Мои договора</h1>

      <table  id="datatablesSimple" class="table app-table-hover text-center">
        <thead>
        <tr>
          <th class="text-center">Номер Договора</th>
          <th class="text-center">Id Помещения</th>
          <th class="text-center">Id Юзера</th>
          <th class="text-center">Скидка</th>
          <th class="text-center">Начало</th>
          <th class="text-center">Конец</th>
          <th class="text-center">Активный</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${contracts}">
          <td th:text="${item.id}">1</td>
          <td th:text="${item.premise.id}">1</td>
          <td th:text="${item.user.id}">1</td>
          <td th:text="${item.discount}">У дверей</td>
          <td th:text="${item.startDate}">1</td>
          <td th:text="${item.endDate}">1</td>
          <td th:text="${item.isActive} ? 'Да' : 'Нет'"></td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>

</div>
<div th:insert="~{fragments/navbar :: footer}"></div>
</body>
</html>