<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Фильтр</title>
  <div th:insert="~{fragments/navbar :: head}"></div>
</head>
<body class="app">

<div th:insert="~{fragments/navbar :: navbar}"> </div>

<div class="app-wrapper">


    <div class="app-content pt-3 p-md-3 p-lg-4">

      <div class="container-xl">

        <h1 class="app-page-title">Помещение <span th:text="${premise.id}"></span></h1>

        <div class="mb-2"><strong>Стоимость: </strong><span th:text="${premise.price}"></span></div>
        <div class="mb-2"><strong>Площадь: </strong><span th:text="${premise.area}"></span></div>
        <div class="mb-2"><strong>Зона: </strong><span th:text="${premise.zone}"></span></div>
        <div class="mb-2"><strong>Интернет: </strong><span th:text="${premise.internetPresent} ? 'Есть' : 'Отсутствует'"></span></div>

        <hr class="mb-4">

        <div th:each="item : ${rooms}" class="g-4 settings-section">
          <div class="col-12 col-md-4">
            <h3 class="section-title">Комната <span th:text="${item.id}"></span></h3>
            <div class="mb-2"><strong>Тип помещения: <span th:text="${item.roomType}"></span></strong></div>
            <div class="mb-2"><strong>Номер: <span th:text="${item.number}"></span></strong></div>
            <div class="mb-2"><strong>Этаж: <span th:text="${item.floorNumber}"></span></strong></div>
            <div class="mb-2"><strong>Место для разгрузки: <span th:text="${item.unloadingPresent} ? 'Есть' : 'Нет'"></span></strong></div>
            <div class="mb-2"><strong>Служебный выход: <span th:text="${item.serviceExitPresent} ? 'Есть' : 'Нет'"></span></strong></div>
            <div class="mb-2"><strong>Служебное помещение: <span th:text="${item.serviceRoomPresent} ? 'Есть' : 'Нет'"></span></strong></div>
            <div class="mb-2"><strong>Количество розеток: <span th:text="${item.numberOfOutlets}"></span></strong></div>
          </div>
          <hr class="my-4">
        </div>

        <div sec:authorize="isAuthenticated()">
          <form action="/user/request" method="POST">
            <input type="hidden" name="room" th:value="${premise.id}">
            <button class="btn app-btn-primary w-50 theme-btn mx-auto" type="submit">Оставить заявку</button>
          </form>
        </div>


      </div>
    </div>

</div>

</body>
</html>