<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<h1>Регистрация</h1>

<div th:if="${message}" th:utext="${message}">
  Не удалось зарегистрироваться
</div>

<form action="/user/registration" th:object="${user}" method="POST">
  <div>
    <label>Имя</label>
    <input th:field="*{firstName}"/>
  </div>
  <div>
    <label>Фамилия</label>
    <input th:field="*{lastName}"/>
  </div>
  <div>
    <label>Отчество</label>
    <input th:field="*{middleName}"/>
  </div>
  <div>
    <label>Почта</label>
    <input type="email" th:field="*{email}"/>
  </div>
  <div>
    <label>Номер телефона</label>
    <input th:field="*{phoneNumber}"/>
  </div>
  <div>
    <label>Пароль</label>
    <input type="password" th:field="*{password}"/>
  </div>
  <div>
    <label>Повторите пароль</label>
    <input type="password" th:field="*{matchingPassword}"/>
  </div>
  <button type="submit">Зарегистрироваться</button>

  <div th:if="${#fields.hasAnyErrors()}">
    <ul>
      <li th:each="err : ${#fields.allErrors()}" th:utext="${err}"></li>
    </ul>
  </div>

</form>
</body>
</html>